<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.njcit.dao.user.TemplateModelMapper">

    <insert id="insertNewConcern">
        INSERT INTO user_template_model(user_id,role,time,content,template_id,type)
        VALUES(#{userId},#{role},#{time},#{content},#{templateId},#{type})
    </insert>

    <delete id="deleteConcern">
        DELETE FROM user_template_model
        WHERE user_id = #{userId}
        AND template_id=#{templateId}
    </delete>

    <select id="getConcernByUserIdAndTemplateId" resultType="com.njcit.model.user.UserSearchCondition">
      SELECT *
      FROM user_template_model
      WHERE user_id = #{userId}
      AND template_id=#{templateId}
    </select>
</mapper>